/*color*/
/*mixins*/
/*rules*/
body {
  font-family: 'Roboto Slab', sans-serif;
  /*font weights 100, 300. 400, 700*/
  background-color: #d3fad6;
  color: #303030; }

#wrapper {
  max-width: 1400px;
  height: 800px;
  margin: 0 auto;
  background-color: #d3fad6; }

#newGame {
  display: block; }
  #newGame h1 {
    font-weight: 700;
    text-align: center;
    color: #8bd781; }

.title_screen {
  width: 700px;
  margin: 0 auto;
  /*margin-top: 300px;*/
  position: relative;
  top: 300px; }
  .title_screen h1 {
    letter-spacing: -.5rem;
    font-size: 8rem; }

.play_screen {
  width: 260px; }
  .play_screen h1 {
    letter-spacing: -.1rem;
    font-size: 3rem; }

#newGame:hover {
  background-color: #8bd781; }
  #newGame:hover h1 {
    color: #d3fad6; }

#menu {
  font-size: 1.5rem;
  width: 300px;
  padding: 10px;
  position: relative;
  background-color: #8bd781;
  color: #6b6054;
  text-align: center;
  border-radius: 10px; }
  #menu h3 {
    margin: 10px; }
  #menu input {
    color: #6b6054;
    background-color: #d3fad6;
    width: 60px;
    font-size: 1.5rem;
    text-align: right;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #6b6054;
    transition: border 0.3s;
    margin: 15px; }
  #menu input:focus, #menu input[type="number"].focus {
    border-bottom: solid 2px #6b6054; }

.hidden {
  display: none; }

.visible {
  display: visible; }

button {
  width: 100px;
  font-size: 1.5rem;
  margin: 15px;
  padding: 10px;
  color: #6b6054;
  background: #8bd781;
  border: solid 2px #6b6054;
  border-radius: 5px; }

button:hover {
  background-color: #6b6054;
  color: #d3fad6; }

button:focus, input:focus {
  outline: 0; }

/*checkbox stylingd*/
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 29px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -24px; }

label.css-label {
  background-image: url("checkbox.jpg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*game board styling*/
#dealer {
  width: 1400px;
  height: 260px; }

#banner {
  width: 1400px;
  height: 150px;
  background: url(../img/banner.png); }
  #banner #message {
    margin: 0 auto;
    padding-top: 25px;
    max-width: 740px;
    font-size: 3rem;
    text-align: center;
    color: #8bd781; }

#player {
  width: 1400px;
  height: 260px; }

#footer {
  color: #6b6054;
  width: 1400px;
  height: 130px;
  border-radius: 10px;
  background-color: #8bd781;
  text-align: center;
  display: flex;
  font-size: 3.4rem; }
  #footer #indicate_player {
    margin-top: 23px;
    width: 440px; }
  #footer #bet_box {
    margin-top: 23px;
    display: flex;
    width: 540px; }
  #footer #balance_box {
    margin-top: 23px;
    width: 440px; }
  #footer .bet_button {
    width: 84px;
    height: 84px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    margin-left: 4%; }

.one {
  background-color: #edf2eb; }

.five {
  background-color: #d71816; }

.twentyFive {
  background-color: #1c77c3; }

.hundred {
  background-color: #f4d54a; }

.fiveHundred {
  background-color: #303030; }
