/*color*/
$green: #8BD781; //rgba(95, 218, 79, 100)
$lightGreen: #d3fad6; //rgba(211, 250, 214, 100)
$red: #d71816; //rgba(215, 24, 22, 100)
$grey: #6b6054; //rgba(107, 96, 84, 100)
$black: #303030; //rgba(48, 48, 48, 100)
$yellow: #F4D54A;
$lightGrey: #CFD3CD;
$white: #EDF2EB;
$blue: #1C77C3;

/*mixins*/
@mixin circle($width) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}

button:focus, input:focus {outline:0;}

/*rules*/
body{
	font-family: 'Roboto Slab', sans-serif;
	/*font weights 100, 300. 400, 700*/
	background-color: $lightGreen;
	color: $black;
}

#wrapper{
	max-width: 1400px;
	height: 800px;
	margin:0 auto;
	background-color: $lightGreen;
	
}

#newGame{
	display:block;
	h1{	
		
		font-weight: 700;
		text-align: center;
		color: $green;
	}
}

.title_screen{
	width: 700px;
	margin: 0 auto;
	/*margin-top: 300px;*/
	position: relative;
	top: 300px;
	h1{	
		letter-spacing: -.5rem;
		font-size: 8rem;
	}
}

.play_screen {
	width: 260px;
	h1{
		letter-spacing: -.1rem;
		font-size: 3rem;
	}
}

#newGame:hover{
		background-color: $green;
		
		h1{
			color:$lightGreen;
		}
}

#menu{
	font-size: 1.5rem;
	width: 300px;
	padding:10px;
	position: relative;
	background-color: $green;
	color: $grey;
	text-align: center;

	border-radius: 10px;
	h3{
		margin:10px;
	}
	input{
		color: $grey;
		background-color: $lightGreen;
		width: 60px;
		font-size: 1.5rem;
		text-align: right;
		padding: 10px;
		border: none;
		border-bottom: solid 2px $grey;
		transition: border 0.3s;
		margin: 15px;
	}
	input:focus, input[type="number"].focus {
		border-bottom: solid 2px $grey;
	}


	button{
		width: 100px;
		font-size: 1.5rem;
		margin: 15px;
		padding: 10px;
		color: $grey;
		background: $green;
		border: solid 2px $grey;
		border-radius: 5px;
	}

	button:hover{
		background-color:$grey;
		color:$lightGreen;
	}

	

	/*checkbox stylingd*/
	input[type=checkbox].css-checkbox {
		position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
	}

	input[type=checkbox].css-checkbox + label.css-label {
		padding-left:29px;
		height:24px; 
		display:inline-block;
		line-height:24px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:24px;
		vertical-align:middle;
		cursor:pointer;

	}

	input[type=checkbox].css-checkbox:checked + label.css-label {
		background-position: 0 -24px;
	}
	label.css-label {
		background-image:url('checkbox.jpg');
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

/*game board styling*/
#dealer_box {
	width: 1400px;
	height: 260px;
}


.hidden{
	display: none;
}

.visible{
	display: block;
}



#banner {
	width: 1400px;
	height: 150px;
	background: url(../img/banner.png);
	
	
	#message{
		margin: 0 auto;
		padding-top: 25px;
		max-width: 740px;
		font-size: 3rem;
		text-align: center;
		color: $green;
	}
}

#players_box {
	width: 1400px;
	height: 260px;
}

#footer {
	color: $grey;
	width: 1400px;
	height: 130px;
	border-radius:10px;
	background-color: $green;
	text-align: center;
	display: flex;

	font-size: 3.4rem;

    #indicate_player{
    	margin-top:23px;
    	width: 440px;

    }

	#bet_box{
		margin-top:23px;
		display: flex;
		width: 540px;

	}

	#balance_box{
		margin-top:23px;
		width: 440px;
	}

	.bet_button{
		@include circle(84px);
		margin-left: 4%;
		font-size: 2rem;
		line-height: 5rem; 
		color: $white;
	}	

	.one{
		color: $black;
	}
}

.one{
	background-color: $white;
}

.five{
	background-color: $red;
}

.twentyFive{
	background-color: $blue;

}

.hundred{
	background-color: $yellow;
}

.fiveHundred{
	background-color: $black;
}

/*Player Box Styling*/
#players_box, #dealer_box{
	text-align: center;
	display: flex;
}

.single_Player{
	margin: 0 auto;
	max-width: 45%;
}

.cards{
	float:left;
	height: 202px;
	margin: 0 auto;
}

.bet_chips{
	padding-top: 30px;
	float: left;
	height: 202px;
	overflow: hidden;
	text-align: center;
	width: 80px;
	margin-left: 10px;

	.bet_button{
		@include circle(60px);
		  margin: -30px auto 0 auto;
		font-size: 2rem;
		line-height: 5rem; 
		/*border: 1px solid $black;*/	
		border: 1px solid $black;
	}

	.one{
		border: 1px solid $lightGrey;
	}
}

.single_card{
	float:left;
	width:130px;
	height:202px;
	margin-left: -65px;
	border-radius: 10px;
	border: 1px solid $black;
	background-color: $white;
	text-align: left;
}

.face-down{
	background-image: url(../img/back.jpg);
}

#play_menu{
	
	button{
		font-size: 1.5rem;
		margin: 20px;
		margin: 20px 10px;
		color: $grey;
		border: solid 2px $green;
		background: $green;
		border-radius: 0px;
	}

	button:hover{
		background-color:$lightGreen;
		color:$green;
	}

	button:disabled{
		color:$lightGrey;
	}

	button:disabled:hover{
		background-color:$green;
	}
}


#deal{
	margin: 60px auto;
  	min-width: 30%;
	
}

button{
		font-family: 'Roboto Slab';
		font-size: 5rem;
		min-width: 30%;
		margin: 15px;
		padding: 10px;
		color: $green;
		background: $lightGreen;
		border: solid 2px $green;
}

button:hover{
	background: $green;
	color: $lightGreen;

}


#replayMenu{
	width: 980px;

  	button{
  		margin: 20px auto;
  		color: $grey;
  		background-color: $green;
  		font-size: 3rem;
  		border: 2px solid $grey;
  		border-radius: 10px

  	}

  	button:hover{
  		color: $lightGreen;
  		background-color: $grey;
  	}
}

